@charset "utf-8";

/* CSS Document */

body,
p,
dl,
dt,
dd,
ul,
ol,
li,
div,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
table,
tr,
td {
    margin: 0;
    padding: 0;
}

body {
    /* color: #73879C; */
    /* background: #2A3F54; */
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.471;
}

*:after,
 :before {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0;
    /*display:block;*/
}

a {
    outline: 0;
    text-decoration: none;
    color: #333;
}

input {
    outline: none
}

div {
    display: block;
}

.layui-icon {
    color: #333;
}

.layui-header {
    border-bottom: 1px solid #f6f6f6;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 999;
}

.col-md-3.layui-side {
    width: 220px;
    height: 1200px;
    top: 0;
    z-index: 1001;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    padding: 0;
}

.layui-side-menu {
    background: #2A3F54 !important;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .05);
}

.layui-header .layui-nav {
    background: 0 0;
    color: #fff;
    border-radius: 2px;
    font-size: 0;
    box-sizing: border-box;
    padding: 0 10px;
}

.layui-layout-left {
    padding: 0 10px;
    left: 220px;
    position: absolute;
    top: 0;
}

.layui-header .layui-nav .layui-nav-item,
.layui-logo {
    height: 58px;
    line-height: 58px;
    margin: 0 20px;
}

.layui-nav .layui-nav-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.layui-nav * {
    font-size: 14px;
}

.layui-header a,
.layui-header a cite {
    color: #333;
}

.layui-nav .layui-nav-item a {
    display: block;
    padding: 0 !important;
}

.layui-header .layui-nav-item .layui-icon {
    position: relative;
    top: 1px;
    font-size: 18px;
}

.layui-icon {
    font-family: layui-icon !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.layui-layout-right {
    position: absolute !important;
    right: 0;
    top: 0;
    padding: 0;
}

.layui-header .layui-nav .layui-nav-more {
    content: '';
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: absolute;
    top: 50%;
    right: -15px;
    margin-top: -3px;
    border-width: 6px;
    border-top-color: #666;
}

.left-col {
    background: #2A3F54;
}

.nav_title {
    margin-bottom: 0;
    width: 220px;
    float: left;
    background: #2A3F54;
    border-radius: 0;
    height: 57px;
}

.nav-sm .navbar.nav_title {
    width: 70px;
}

.nav-sm .navbar.nav_title a i {
    font-size: 27px;
    margin: 13px 0 0 3px;
}

.nav-sm .navbar.nav_title a span {
    display: none;
}

.site_title {
    display: block;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    line-height: 57px;
    height: 57px;
    margin: 0;
    padding-left: 10px;
    color: #fff;
}

.site_title:hover {
    color: #fff;
    text-decoration: none;
}

.site_title i {
    border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%;
}

.main_menu_side {
    margin-top: 10px;
    padding: 0;
    width: 220px;
}

.nav-sm .main_menu_side {
    width: 70px;
}

.menu_section {
    margin-bottom: 35px;
}

.nav-sm .menu_section {
    margin: 0;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.menu_section .side-menu {
    margin-top: 10px;
}

.nav-sm .nav.side-menu li a {
    text-align: center!important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px;
}

.nav-sm .nav.side-menu li a i {
    font-size: 25px!important;
    text-align: center;
    width: 100%!important;
    margin-bottom: 5px;
}

.nav-sm .nav.side-menu li a span {
    display: none;
}

.nav.side-menu>li.active {
    border-right: 5px solid #1ABB9C;
}

.nav.side-menu>li {
    position: relative;
    display: block;
    cursor: pointer;
}

.nav.side-menu>li.active>a {
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

.nav.side-menu>li>a {
    color: #E7E7E7;
    font-weight: 500;
    padding: 13px 15px 12px;
    /* margin-bottom: 6px; */
    position: relative;
    display: block;
    overflow: hidden;
}

.main_menu .layui-icon {
    color: #E7E7E7;
    width: 26px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.main_menu span.fa {
    text-align: right!important;
    margin-right: 4px;
    float: right;
    margin-top: 5px;
    color: #C4CFDA;
    font-size: 16px;
}

.nav-sm .hidden-small {
    display: none;
}

.nav.child_menu {
    display: none;
}

.nav li.current-page {
    background: rgba(255, 255, 255, .05);
}

.nav.child_menu li {
    padding-left: 36px;
}

.nav.child_menu li:hover {
    background: rgba(255, 255, 255, .05);
}

.nav.child_menu>li>a {
    color: rgba(255, 255, 255, .75);
    font-size: 12px;
    padding: 9px;
}

.nav li.current-page a {
    color: #fff;
}

ul.nav.child_menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}

ul.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}

.sidebar-footer {
    left: 0;
    bottom: 0;
    clear: both;
    display: block;
    padding: 5px 0 0;
    position: fixed;
    width: 220px;
    background: #2A3F54;
    z-index: 108;
}

.sidebar-footer a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    display: block;
    font-size: 17px;
    float: left;
    background: #172D44;
    cursor: pointer;
}

.sidebar-footer a:hover {
    background: #425567;
}

.main_container .top_nav {
    display: block;
    margin-left: 230px;
}

.nav-sm .main_container .top_nav {
    margin-left: 70px;
}

.nav_menu {
    float: left;
    background: #ededed;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}

@media screen and (min-width: 480px) {
    .nav-menu {
        position: static;
    }
}

.toggle {
    float: left;
    margin: 0;
    padding-top: 16px;
    width: 70px;
}

.toggle a {
    padding: 15px 15px 0;
    margin: 0;
    cursor: pointer;
}

.toggle a i {
    font-size: 26px;
}

.top_nav .navbar-right {
    width: 70%;
    margin: 0;
    float: right;
}

.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static;
}

.nav.navbar-nav>li>a {
    color: #515356!important;
    font-weight: 500;
    line-height: 32px;
    margin-left: 0!important;
}

.top_nav .nav>li>a:hover {
    background: #D9DEE4;
}

.nav>li>a {
    padding: 13px 15px 12px;
    position: relative;
    display: block;
}

.user-profile img {
    height: 29px;
    width: 29px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar-nav .open .dropdown-menu {
    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    right: 0;
    width: 220px;
    display: none;
}

.top_nav .dropdown-menu li {
    width: 100%;
}

.top_nav .dropdown-menu li a {
    width: 100%;
    padding: 12px 20px;
    color: #5A738E;
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}

.bg-red {
    background: #E74C3C!important;
    color: #fff;
    float: right!important;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

.top_nav li a i {
    margin-left: 5px;
    font-size: 15px;
}

.info-number .bg-green {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 2px;
    top: 8px;
    display: inline-block;
    min-width: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 50%;
}

.bg-green {
    background: #1ABB9C!important;
    border: 1px solid #1ABB9C!important;
    color: #fff;
}

.navbar-nav .dropdown .msg_list {
    width: 300px;
    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    right: 140px;
    left: auto;
    display: block;
    font-size: 12px;
    padding: 0;
    top: 100%;
    z-index: 200;
    display: none;
}

ul.msg_list li {
    background: #f7f7f7;
    padding: 5px;
    margin: 6px 6px 0;
    width: 96%!important;
}

ul.msg_list li a {
    padding: 3px 5px !important;
    display: block;
    color: #5A738E;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}

ul.msg_list span {
    white-space: normal;
}

ul.msg_list span:hover {
    color: #333;
}

ul.msg_list li a .image img {
    border-radius: 2px;
    float: left;
    margin-right: 10px;
    width: 11%;
}

ul.msg_list li a .time {
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    right: 35px;
}

ul.msg_list li a .message {
    display: block;
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.text-center a:hover {
    color: #23527c;
}

.container.body .right_col {
    padding: 10px 20px 0;
    margin-left: 230px;
    background: #f7f7f7;
}

.nav-sm .container.body .right_col {
    margin-left: 70px;
}

.page-title {
    width: 100%;
    height: 65px;
    padding: 10px 0;
}

.page-title .title_left {
    width: 45%;
    float: left;
    display: block;
}

.page-title .title_left h3 {
    margin: 9px 0;
}

.page-title .title_right {
    width: 55%;
    float: left;
    display: block;
}

.page-title .title_right .top_search {
    margin: 10px 0;
    float: right;
}

.input-group {
    margin-bottom: 10px;
}

.top_search .form-control {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .075);
    border-radius: 25px 0 0 25px;
    padding-left: 20px;
    border: 1px solid rgba(221, 226, 232, .49);
}

.top_search .input-group-btn button {
    border-radius: 0 25px 25px 0;
    border: 1px solid rgba(221, 226, 232, .49);
    border-left: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #93A2B2;
    margin-bottom: 0!important;
}

.x_panel {
    width: 100%;
    /*height: 320px;*/
    padding: 10px 10px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    opacity: 1;
    transition: all .5s;
    margin-bottom: 10px;
    position: relative;
    /*overflow: hidden;*/
}

.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
}

.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
}

.x_title h2 small {
    margin-left: 10px;
}

.panel_toolbox {
    min-width: 70px;
    margin-right: 0;
}

.panel_toolbox>li {
    float: left;
    cursor: pointer;
}

.panel_toolbox>li>a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
}

.section-right {
    background: #ededed;
    /* margin-left: 220px;
    margin-top: 58px; */
}

.section-center {
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.layui-row {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 10px;
    margin-left: inherit;
}

.select-table-label {
    box-sizing: border-box;
    position: relative;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
    border-color: #5FB878;
    background-color: #5FB878;
    color: #fff;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
    color: #666;
}